<div class="jumbotron my-2">
    <h1 class="display-4"><i class="fas fa-wind"></i>Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For exceptional international quisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/client.js"></script>
}
<div class="jumbotron-fluid border border-primary p-3 ">
    <h2>Test Jumbotron</h2>
    <p>Northwind's very own test jumbotron!</p>
</div>
<div class="container">
    
    <div class="row">
        <div class="container col-md-4 col-sm-6 shadow">
            <h3>Create a Bootstrap Page</h3>
            <p>
                This page will teach you how to create somethign in Bootstrap
            </p>
            <button type="button" class="btn btn-info">Learn More</button>
        </div>
        <div class="container col-md-4 col-sm-6 shadow ">
            <h3>Modify a Bootstrap Page</h3>
            <p>
                This page will teach you how to modify somethign in Bootstrap
            </p>
            <button type="button" class="btn btn-danger">Learn More</button>
        </div>
        <div class="container col-md-4 col-sm-6 shadow">
            <h3>Lorem Ipsum</h3>
            <p>
                dolor sit amet, consectetur adipiscing elit.
            </p>
            
        </div>

    </div>
</div>
